.f {
    display: flex;
    justify-content: space-around;
}
.w-20 {
    width: 20%;
}
.me-10{
    margin-right: 30px;
}
.ps-10{
    padding-left: 10px;
}
.a {
    text-decoration: none;
    color: black;
}
.t-b {
    font-weight: bold;
}
.ms-50 {
    margin-left: 50px;
}